.chat-active-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5; /* Fundo sólido */
}

.chat-active-header {
  padding: 10px 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  z-index: 10;
}

.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.header-info h4 {
  margin: 0;
  font-size: 15px;
  color: #111827;
}
.header-info span {
  font-size: 12px;
  color: #10b981;
}

.chat-messages-list {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #e5ddd5; /* Cor sólida clássica */
}

.msg-row {
  display: flex;
  width: 100%;
  margin-bottom: 2px;
}
.msg-row.sent {
  justify-content: flex-end;
}
.msg-row.received {
  justify-content: flex-start;
}

.msg-bubble {
  max-width: 65%;
  padding: 6px 10px;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.msg-bubble p {
  color: var(--color-text);
  text-align: start;
}

.sent .msg-bubble {
  background-color: #dcf8c6;
  border-top-right-radius: 0;
}
.received .msg-bubble {
  background-color: #ffffff;
  border-top-left-radius: 0;
}

.msg-time {
  font-size: 10px;
  color: #9ca3af;
  float: right;
  margin-top: 4px;
  margin-left: 8px;
}

/* BARRA DE INPUT FLUTUANTE */
.chat-footer {
  padding: 10px 15px;
  background-color: #e5ddd5; /* Para parecer flutuante */
}

.input-area-floating {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 25px; /* Bordas bem arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  gap: 12px;
}

.message-form {
  flex: 1;
}
.message-form input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
  color: var(--color-text);
}

.icon-btn {
  background: none;
  border: none;
  color: #6b7280;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.icon-btn:hover {
  color: #111827;
}

.send-btn {
  color: #00a884;
} /* Cor verde para o ícone de enviar */
